<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMeetingsService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:16111/MeetingsService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMeetingsService"
                contract="meetingsservice.IMeetingsService" name="BasicHttpBinding_IMeetingsService" />
        </client>
    </system.serviceModel>
</configuration>