<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="xmlFileName" value="D:\Labs\MVC and WCF\data\Meetings.xml"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="services.MeetingsService">
        <endpoint address="http://localhost:16111/MeetingsService.svc"
          binding="basicHttpBinding" bindingConfiguration="" contract="services.IMeetingsService" />
        <endpoint address="http://localhost:16111/MeetingsService.svc/mex"
          binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <client />
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="false" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
