@model controllers.Home.MeetingsPageViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@using(Html.BeginForm())
{
    @Html.DropDownListFor(x => x.Meetings, Model.Meetings)
    <input type="submit"  name="submit" value="Get Events" />
    @Html.Grid(Model.Events).Columns(column => 
                                    { 
                                        column.For(x => x.EventName);
                                        column.For(x => x.StartsAt);
                                    })
} 